{$TAILOR_HOST:http://169.58.55.160} {
	encode zstd gzip

	@health path /healthz
	handle @health {
		respond "ready" 200
	}

	handle {
		route {
			sablier http://sablier:10000 {
				group tailor
				session_duration 24h
				blocking {
					timeout 2m
				}
			}
			reverse_proxy workspace-tailor:7860
		}
	}
}
